<img th:if="${image} != null" th:src="${image}" alt="Question image">
<h1 th:text="${question}" class="quiz-body-heading display-3 text-white"></h1>
<h2 th:text="'Answer: ' + ${correctAnswer}" class="quiz-body-heading display-4 text-white"></h2>
<div th:each="entry : ${answers}">
    <div th:switch="${entry.value.accuracy}">
        <div th:case="${T(com.moppletop.app.logic.answer.QuizAnswerAccuracy).CORRECT}" class="alert alert-success fade show" style="margin-bottom: 0">
            <i class="fa fa-check"></i>
            <strong th:text="${entry.key} + ': ' + ${entry.value.text}"></strong>
        </div>
        <div th:case="${T(com.moppletop.app.logic.answer.QuizAnswerAccuracy).PARTIALLY}" class="alert alert-warning fade show" style="margin-bottom: 0">
            <i class="fa fa-minus"></i>
            <strong th:text="${entry.key} + ': ' + ${entry.value.text}"></strong>
        </div>
        <div th:case="${T(com.moppletop.app.logic.answer.QuizAnswerAccuracy).INCORRECT}" class="alert alert-danger fade show" style="margin-bottom: 0">
            <i class="fa fa-times"></i>
            <strong th:text="${entry.key} + ': ' + ${entry.value.text}"></strong>
        </div>
    </div>
</div>