<form class="text-light" method="post" th:action="@{/quiz/submit}">
    <img th:if="${image} != null" th:src="${image}" alt="Question image">
    <h1 th:text="${question}" class="quiz-body-heading display-3 text-white"></h1>
    <div class="text-light option-set">
        <fieldset>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </fieldset>
        <fieldset th:each="option,iter : ${options}" class="options">
            <div class="custom-control custom-radio d-block my-2">
                <input type="radio" th:id="option + ${iter.count}" name="option" th:value="${iter.index}" class="custom-control-input">
                <label th:text="${option}" class="custom-control-label" th:for="option + ${iter.count}"></label>
            </div>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary btn-pill">Submit</button>
        </fieldset>
    </div>
</form>
